<div class="sdpi-item">
    <div class="sdpi-item-label">On Press</div>
    <input class="sdpi-item-value" type="text" id="onpress" value="">
</div>
<div class="sdpi-item">
    <div class="sdpi-item-label">On Release</div>
    <input class="sdpi-item-value" type="text" id="onrelease" value="">
</div>
<div class="sdpi-item alignTop" >
    <div class="sdpi-item-label empty"></div>
    <details open class="noInnerMargins">
        <summary>Info</summary>
        <p>This button will execute custom defined actions. You can find the command ids or command names for press and release if you press Alt+, in Ultraschall</p>
    </details>
</div>
