<div class="sdpi-item">
    <div class="sdpi-item-label">Track</div>
    <select class="sdpi-item-value select" id="track">
        <option value="0">Master</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
</div>
