<div class="sdpi-item">
    <div class="sdpi-item-label">Action</div>
    <select class="sdpi-item-value select" id="action">
        <option value="chapter">Set Chapter Marker</option>
        <option value="chapter_backintime">Set Chapter Marker (2 minutes in past)</option>
        <option value="edit">Set Edit Marker</option>
        <option value="edit_playpos">Set Edit Marker (at play position)</option>
        <option value="delete_last">Delete last marker</option>
    </select>
</div>
