<div class="sdpi-item">
    <div class="sdpi-item-label">Action</div>
    <select class="sdpi-item-value select" id="action">
        <option value="">(please select)</option>
        <option value="magicrouting">Toggle Magic Routing</option>
        <option value="preshow">Set Matrix: Preshow</option>
        <option value="recording">Set Matrix: Recording</option>
        <option value="editing">Set Matrix: Editing</option>
        <option value="onair">Toggle On Air</option>
    </select>
</div>
