<div class="sdpi-item">
    <div class="sdpi-item-label">Player</div>
    <select class="sdpi-item-value select" id="player">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
    </select>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">Icon</div>
    <select class="sdpi-item-value select" id="overlay">
        <option value="_none">(none)</option>
        <option value="_userdefined">(user defined)</option>
        <optgroup label="Ultraschall">
            <option value="soundboard">Soundboard</option>
            <option value="soundboard_simple">Soundboard Simple</option>
        </optgroup>
        <optgroup label="Software Icons">
            <option value="bigbluebutton">Big Blue Button</option>
            <option value="jitsi">Jitsi</option>
            <option value="skype">Skype</option>
            <option value="studiolink">Studio Link</option>
            <option value="zoom">Zoom</option>
        </optgroup>
        <optgroup label="Devices">
            <option value="microphone">Microphone</option>
            <option value="mobile">Mobile</option>
        </optgroup>
        <optgroup label="Smilies">
            <option value="smiley_angry">Angry</option>
            <option value="smiley_beam">Beam</option>
            <option value="smiley_grin">Grin</option>
            <option value="smiley_squint">Squint</option>
            <option value="smiley_squint_tears">Squint Tears</option>
            <option value="smiley_angry">Angry</option>
        </optgroup>
        <optgroup label="Hands">
            <option value="applause">Applause</option>
            <option value="thumb_up">Thumb up</option>
            <option value="thumb_down">Thumb down</option>
        </optgroup>
        <optgroup label="Other">
            <option value="ad">Ad</option>
            <option value="hot">Hot</option>
            <option value="intro">Intro</option>
            <option value="outro">Outro</option>
        </optgroup>
    </select>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">User Overlay</div>
    <div class="sdpi-item-group file">
        <input class="sdpi-item-value" type="file" id="useroverlay" accept=".png">
        <label class="sdpi-file-info" for="useroverlay">no file...</label>
        <label class="sdpi-file-label" for="useroverlay">Choose file...</label>
        <input class="sdpi-item-value" type="text" id="useroverlay_base64" style="display:none">
    </div>
</div>

<div type="color" class="sdpi-item" id="setting-color-unplayed">
    <div class="sdpi-item-label">Color</div>
    <input type="color" class="sdpi-item-value" value="#00ff00" id="color">
    <button class="sdpi-item-value" onclick="resetValue('color', '#00ff00');">Reset color</button>
</div>

<div class="sdpi-heading">NOT PLAYING</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">On Press</div>
    <select class="sdpi-item-value select" id="onKeyPress">
        <option value="">(none)</option>
        <option value="play">Play</option>
        <option value="play_fadein">Play with fade in</option>
    </select>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">Display</div>
    <select class="sdpi-item-value select" id="display">
        <option value="name">Name</option>
        <option value="name_remaining">Name + Remaining Time</option>
        <option value="remaining">Remaining Time</option>
    </select>
</div>

<div class="sdpi-heading">PLAYING</div>

<div class="sdpi-item on-behaviour-switch">
    <div class="sdpi-item-label">On Press</div>
    <select class="sdpi-item-value select" id="onKeyPressWhilePlaying">
        <option value="">(none)</option>
        <option value="pause">Pause</option>
        <option value="fadeout_pause">Fade out and pause</option>
        <option value="stop">Stop</option>
    </select>
</div>

<div class="sdpi-item on-behaviour-toggle">
    <div class="sdpi-item-label">On Release</div>
    <select class="sdpi-item-value select" id="onKeyReleaseWhilePlaying">
        <option value="">(none)</option>
        <option value="pause">Pause</option>
        <option value="fadeout_pause">Fade out and pause</option>
        <option value="stop">Stop</option>
    </select>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">Display</div>
    <select class="sdpi-item-value select" id="displayWhilePlaying">
        <option value="name">Name</option>
        <option value="name_time">Name + Played Time</option>
        <option value="name_remaining">Name + Remaining Time</option>
        <option value="time">Played Time</option>
        <option value="remaining">Remaining Time</option>
    </select>
</div>

<div class="sdpi-heading">DONE</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">Display</div>
    <select class="sdpi-item-value select" id="displayDone">
        <option value="name">Name</option>
        <option value="name_time">Name + Played Time</option>
        <option value="name_remaining">Name + Remaining Time</option>
        <option value="time">Played Time</option>
        <option value="remaining">Remaining Time</option>
    </select>
</div>