<div class="sdpi-item">
    <div class="sdpi-item-label">Action</div>
    <select class="sdpi-item-value select" id="action">
        <option value="">(please select)</option>
        <optgroup label="Ripple Cut">
            <option value="setup">Enable </option>
        </optgroup>
        <option value="record">Record</option>
        <option value="edit">Edit</option>
        <option value="storyboard">Storyboard</option>
    </select>
</div>
