<div class="sdpi-item">
    <div class="sdpi-item-label">Number</div>
    <input class="sdpi-item-value" id="track" inputmode="numeric" pattern="[1-9][0-9]" type="number">
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">Icon</div>
    <select class="sdpi-item-value select" id="overlay">
        <option value="">(none)</option>
        <option value="_userdefined">(user defined)</option>
        <optgroup label="Ultraschall">
            <option value="soundboard">Soundboard</option>
            <option value="soundboard_simple">Soundboard Simple</option>
        </optgroup>
        <optgroup label="Software Icons">
            <option value="bigbluebutton">Big Blue Button</option>
            <option value="jitsi">Jitsi</option>
            <option value="skype">Skype</option>
            <option value="studiolink">Studio Link</option>
            <option value="zoom">Zoom</option>
        </optgroup>
        <optgroup label="Devices">
            <option value="microphone">Microphone</option>
            <option value="mobile">Mobile</option>
        </optgroup>
        <optgroup label="Smilies">
            <option value="smiley_angry">Angry</option>
            <option value="smiley_beam">Beam</option>
            <option value="smiley_grin">Grin</option>
            <option value="smiley_squint">Squint</option>
            <option value="smiley_squint_tears">Squint Tears</option>
        </optgroup>
        <optgroup label="Hands">
            <option value="applause">Applause</option>
            <option value="thumb_up">Thumb up</option>
            <option value="thumb_down">Thumb down</option>
        </optgroup>
        <optgroup label="Letters">
            <option value="letter_a">A</option>
            <option value="letter_b">B</option>
            <option value="letter_c">C</option>
            <option value="letter_d">D</option>
            <option value="letter_e">E</option>
            <option value="letter_f">F</option>
            <option value="letter_g">G</option>
            <option value="letter_h">H</option>
            <option value="letter_i">I</option>
            <option value="letter_j">J</option>
            <option value="letter_k">K</option>
            <option value="letter_l">L</option>
            <option value="letter_m">M</option>
            <option value="letter_n">N</option>
            <option value="letter_o">O</option>
            <option value="letter_p">P</option>
            <option value="letter_q">Q</option>
            <option value="letter_r">R</option>
            <option value="letter_s">S</option>
            <option value="letter_t">T</option>
            <option value="letter_u">U</option>
            <option value="letter_v">V</option>
            <option value="letter_w">W</option>
            <option value="letter_x">X</option>
            <option value="letter_y">Y</option>
            <option value="letter_z">Z</option>
        </optgroup>
        <optgroup label="Other">
            <option value="ad">Ad</option>
            <option value="hot">Hot</option>
            <option value="intro">Intro</option>
            <option value="outro">Outro</option>
        </optgroup>
    </select>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">On Press</div>
    <select class="sdpi-item-value select" id="onkeypress">
        <option value="">(none)</option>
        <option value="mute">Mute</option>
        <option value="unmute">Unmute</option>
        <option value="toggle">Toggle mute</option>
    </select>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">On Release</div>
    <select class="sdpi-item-value select" id="onkeyrelease">
        <option value="">(none)</option>
        <option value="mute">Mute</option>
        <option value="unmute">Unmute</option>
        <option value="toggle">Toggle mute</option>
    </select>
</div>

<div class="sdpi-heading">APPEARANCE</div>
<div type="checkbox" class="sdpi-item">
    <div class="sdpi-item-label">VU Meter</div>
    <select class="sdpi-item-value select" id="showvu">
        <option value="0">No</option>
        <option value="1">Yes (can have performance impacts)</option>
    </select>
</div>

<div type="color" class="sdpi-item">
    <div class="sdpi-item-label">VU Color</div>
    <input type="color" class="sdpi-item-value" value="#00ff00" id="vucolor">
    <button class="sdpi-item-value" onclick="resetValue('vucolor', '#00ff00');">Reset color</button>
</div>

<!--<div type="color" class="sdpi-item">-->
<!--    <div class="sdpi-item-label">VU Color middle</div>-->
<!--    <input type="color" class="sdpi-item-value" value="#ffff00" id="vucolormiddle">-->
<!--</div>-->

<!--<div type="color" class="sdpi-item">-->
<!--    <div class="sdpi-item-label">VU Color high</div>-->
<!--    <input type="color" class="sdpi-item-value" value="#ff0000" id="vucolorhigh">-->
<!--</div>-->
