<div class="sdpi-item">
    <div class="sdpi-item-label">Action</div>
    <select class="sdpi-item-value select" id="action">
        <option value="">(please select)</option>
        <optgroup label="Default Reaper commands">
            <option value="us_gotostart">Goto start</option>
            <option value="stop">Stop</option>
            <option value="play">Play</option>
            <option value="play_time">Play + Time</option>
            <option value="pause">Pause</option>
            <option value="us_gotoend">Goto end</option>
            <option value="repeat">Repeat</option>
            <option value="record">Record</option>
            <option value="record_time">Record + Time</option>
            <option value="us_recordatend">Record at End</option>
            <option value="us_recordatend_time">Record at End + Time</option>
        </optgroup>
    </select>
</div>
